<% if @post.author?(current_user) %>
  <h1>Editing comment</h1>

  <%= render 'posts/comment_form'%>

  <%= link_to 'Back', @post, class: 'form-group' %>
<% else %>
  <p>You are not author of this post</p>
<% end %>