<% if @post.author?(current_user) %>
    <h1>Editing post</h1>

    <%= render 'form'%>

    <%= link_to 'Show', @post, class: 'form-group' %> |
    <%= link_to 'Back', posts_path, class: 'form-group' %>
<% else %>
    <p>You are not author of this post</p>
<% end %>